# Local environment files
.env
CLAUD.md
.envs/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter runtime
.local/

# Local copy of the commercial book (copyrighted; too large for git)
book/*.pdf
